body {
    background-color: #435165;
}

#blok {
    color: #5b6574;
    font-size: 26px;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    position: sticky;
    padding-top: 107px;
    text-align: center;
}

#container {
    width: 400px;
    background-color: #3a0f49;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 297px auto;
    height: 320px;
    position: absolute;
    right: 760px;
}

#onj {
    color: #5b6574;
    font-size: 27px;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    position: sticky;
    text-align: center;
    padding-top: 15px;
}