.allergenen {
    width: 20%;
    float: right;
    padding: 100px;
}

#info {
    position: absolute;
    padding-left: 1456px;
    padding-top: 20px;
    font-size: 29px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

h6 {
    padding-left: 166px;
    font-size: 4em;
    padding-top: 39px;
    position: absolute;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}